
#igazgato{
    border: 10px solid red;

}
.tanar{
    border: 10px solid grey;
    margin: 0 20px;
    padding: 5px;
}
.fontos{
    color: red;
    font-weight: bold;
}
.szellos{
letter-spacing: 3px;
}
ul{
    /* list-style-type: square; */
    list-style-image: url(images/balogh.bence.jpg)
}